body {
    background-image: url('assets/mainpageBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: top;
}

.logout-link {
    position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}


.button-group {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px; 
    z-index: 1000;
  }
  
  .button-group button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .button-group button:hover {
    background-color: #ddd;
  }
  