body {
    background-image: url('assets/mainpageBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: top;
    
}


h1 {
    font-family: 'Arial' ;
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.main-container {
    text-align: center;
}

.button-group {
    position: fixed;
    top: 20px;
    right: 20px;
    
}

h2 {
    font-family: 'Arial';
    color:white;
    position: absolute;
    top: 200px;
    left: 300px;
   
}