body {
    background-image: url('assets/mainpageBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: top;
    
}


h1 {
    font-family: 'Arial' ;
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.main-container {
    text-align: center;
}

.button-group {
    position: fixed;
    top: 20px;
    right: 20px;
    
}

h2 {
    font-family: 'Arial';
    color:white;
    position: absolute;
    top: 200px;
    left: 250px;
   
}

p {
    font-size:x-large;
    position: absolute;
    top: 300px;
    left: 125px;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 30%; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.scroll-container {
    position: absolute;
    top: 600px;
    right: 100px;
    display: flex;    
    gap: 10px;
    padding: 20px;
    scroll-behavior: smooth; 
  }
  
  .scroll-container img {
    height: 200px;           
    border-radius: 10px;
    flex-shrink: 0;           
  }